html {
  font-size: 0.625rem;
}

body {
  --ox-f-size-sm: 1.6rem;
  --ox-f-size-md: 1.8rem;
  --ox-f-size-lg: 2.2rem;
  --ox-f-size-xl: 2.6rem;
  --ox-f-size-2xl: 3.2rem;

  --ox-f-weight-sm: 400;
  --ox-f-weight-md: 400;
  --ox-f-weight-lg: 500;
  --ox-f-weight-xl: 600;
  --ox-f-weight-2xl: 700;

  --ox-neutral: hsl(0, 0%, 72%);
  --ox-neutral-blur: hsl(0, 0%, 6%);
  --ox-neutral-bg: unset;
  --ox-primary: hsl(240, 57%, 81%);
  --ox-primary-blur: hsl(240, 19%, 11%);
  --ox-primary-bg: unset;
  --ox-secondary: hsl(60, 43%, 54%);
  --ox-secondary-blur: hsl(60, 26%, 7%);
  --ox-secondary-bg: unset;
  --ox-tertiary: hsl(330, 52%, 77%);
  --ox-tertiary-blur: hsl(330, 17%, 10%);
  --ox-tertiary-bg: unset;
  --ox-quaternary: hsl(150, 46%, 61%);
  --ox-quaternary-blur: hsl(150, 28%, 8%);
  --ox-quaternary-bg: unset;
  --ox-background: hsl(150, 100%, 0%);

  --ox-accent: var(--ox-neutral);
  --ox-blur: var(--ox-neutral-blur);
  --ox-accent-bg: var(--ox-neutral-bg, var(--ox-bg));
  --ox-bg-selection: var(--ox-quaternary);
  --ox-bg: var(--ox-background);

  --ox-base-length: 8px;

  --ox-cell-width: calc(6 * var(--ox-base-length));
  --ox-cell-gap: calc(var(--ox-cell-width) / 2);

  --ox-round-factor: 1;

  font-size: 1.8rem;
  color: var(--ox-neutral);
  background: var(--ox-bg);
}

::selection {
  color: var(--ox-bg);
  background: var(--ox-bg-selection);
}

* {
  box-sizing: border-box;
}

a {
  color: currentColor;
}
